#test {
    color: blueviolet;
}


h1 {
    color: blue;
    font-size: 1.5em;
    text-align: center;
}

a {
    color: red;
    text-decoration: line-through;
}

.active {
    color: red !important;
}

.saw {
    color: blueviolet;
}

/* 아래의 우선 순위가 높다 */
/* css파일보다 직접 원본에 쓰는 인라인의 우선 순위가 높다 */